{% extends 'main/base.html' %}

{% block title %}Selected Recipes{% endblock %}

{% block content %}



<h1>{{ recipe.title }}</h1>

<div>
    <div class="d-flex flex-row-reverse gap-2 mb-3" >
        <a href="{% url 'grocery_list' %}" class="btn btn-success">Generate Grocery List</a>
        <a href="{% url 'selected_recipes' %}" class="btn btn-success" >Back to selected recipes</a>
    </div>

    <div class="container my-4">
        <div class="card mb-4">
            <div class="card-body">
                <h3>Meal Type:</h3>
                <p>{{ recipe.meal_type }}</p>
            </div>
        </div>

        <h3>Nutrient Info:</h3>
        <p>( Info displayed is based on {{ multi }} serving(s) )</p>
        <ul>
            {% for n,a in nutrition.items %}
            <li>{{ n }} - {{ a }}</li>
            {% endfor %}
        </ul>
        <h3>Ingredient List:</h3>
        <ul>
            {% for i,a in ingredients %}
            <li>{{ a }}{{ i.measurements }} {{ i.title }}</li>
            {% endfor %}
        </ul>
        <h3>Cooking Instructions:</h3>
        <ol>
            {% for step in instructions %}
            <li>{{ step }}</li>
            {% endfor %}
        </ol>

        <div class="row mb-4">
            <div class="col-md-6 d-flex">
                <div class="card flex-fill"> 
                    <div class="card-body">
                        <h3>Ingredient List:</h3>
                        <ul>
                        {% for i,a in ingredients %}
                            <li>{{ a }}{{ i.measurements }} {{ i.title }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex">
                <div class="card flex-fill"> 
                    <div class="card-body">

                        <h3>Cooking Instructions:</h3>
                        <ol>
                        {% for step in instructions %}
                            <li>{{ step }}</li>
                        {% endfor %}
                        </ol> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}